@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}
@font-face {
    font-family: 'MarckScript';
    src: url(../font/MarckScript-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Rubik';
    src: url(../font/Rubik-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: 'Rubik';
    src: url(../font/Rubik-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: 'Rubik';
    src: url(../font/Rubik-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
}